/* html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-font-smoothing: antialiased !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #555555;
} */

.md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
    /* background-color: #FFFFFF;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .50); */
}

.md-stepper-horizontal .md-step {
    display: table-cell;
    position: relative;
    padding: 24px;
}

/* .md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
    background-color: rgba(0, 0, 0, 0.04);
}

.md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
    background-color: #ac1717;
} */

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;

}

/* .md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color: #00AE4D;
} */

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color: #2f2c29;
}

/* .md-stepper-horizontal .md-step.active .md-step-circle {
    background-color: rgb(33, 150, 243);
} */

.md-stepper-horizontal .md-step.done .md-step-circle:before {
    font-family: 'FontAwesome';
    font-weight: 100;
    content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
    display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
    /* font-family: 'FontAwesome'; */
    font-weight: 100;
    content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color: rgba(0, 0, 0, .26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
    font-weight: 600;
    color: rgba(0, 0, 0, .87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
    font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
    font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
    color: rgba(0, 0, 0, .54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: 1px solid #000000;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
    right: 0;
    left: 50%;
    margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
    left: 0;
    right: 50%;
    margin-right: 20px;
}

#hifi-iterative {
    width: 13rem;
    height: auto;
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.userCard {
    width: 300px;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

.userImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;

}

#userImageOne {
    background-color: #32a0d0;
    justify-content: center;
    align-items: center;
}

#userImageTwo {
    background-color: #828bec;
}

#userImageThree {
    background-color: #943bc7;
}


.userHeader {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userSectionContainer {
    text-align: left;
    padding: 0 1rem;
}

.userSectionHeader {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-align: center;
}

strong {
    padding-left: 0.5rem;
}

ul {
    padding-left: 2.5rem;
    margin: 0.2rem;
}

#vis-design {
    width: 18rem;
    height: 20rem;
}

.feedbackContainer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.feedbackItem {
    /* flex: 1; */
    width: 320px;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

.feedbackImage {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.feedbackHeader {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedbackTextContainer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: left;
}

.navbar-nav {
    font-size: 20px;
    color: black;
    font-family:'Courier New', Courier, monospace !important;
}

.proto-container img {
    width: 350px;
    height: 290px;
}

.proto-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
}

#design {

    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

#left-nav {
    padding-left: 2rem;
    font-family:'Courier New', Courier, monospace !important;
}

.banner {
    width: 100%;
    height: 500px;
    position: relative;
    object-fit: cover;
}

.hours {
    align-items: center;
    justify-content: center;
}

#title {
    padding-bottom: 40px;
    /* background-color: #d0a3bc9a; */
}

#dev-title {
    padding-top: 60px;
    padding-bottom: 40px;
    /* background-color: #d0a3bc9a; */
}

#redesign-title {
    padding-top: 60px;
    padding-bottom: 40px;
    /* background-color: #7f9fc9c4; */
}

#iterative-title {
    padding-top: 60px;
    padding-bottom: 40px;
    /* background-color: #a278bd9a; */
}

#personas-title {
    padding-top: 60px;
    padding-bottom: 40px;
    /* background-color: #3a211f57; */
}

#aboutme {
    padding-bottom: 20px;
    /* background-color: #eae7e49a; */
}

#aboutme h1 {
    padding-top: 10rem;
    padding-bottom: 3rem;
    /* font-size: 3rem; */
    /* font-weight: bold; */
    /* font-family: "Belleza"; */
    /* align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center; */
}

#resume-cont {
    padding-bottom: 40px;
    /* background-color: #d0a3a39a; */
}

#proj-description {
    padding: 1rem;
}

#resume-cont h1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}


#title h1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 3rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#dev-title h1 {
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-size: 5rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#iterative-title h1 {
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-size: 5rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#redesign-title h1 {
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-size: 5rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#personas-title h1 {
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-size: 5rem;
    font-weight: bold;
    /* font-family: "Belleza"; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}

h3 {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

img {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.short-bio {
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

#bio-desc {
    padding-left: 70px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
}

#nav-logos {
    width: 20px;

    height: auto;
    /* align-items: center;
    justify-content: center; */
}
#my-logos {
    width: 20px;

    height: 20px;
    /* align-items: center;
    justify-content: center; */
}

li span {
    font-weight: normal;
}

.market-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 5rem;
    font-family:'Courier New', Courier, monospace !important;
}

/* #market img {
    height: 20rem;
} */

/* .market-container img {
    width: 350px;
    height: 250px;
} */

.probs-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.probs-container img {
    width: 350px;
    height: 290px;
}

.probs-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 16rem;
    border-radius: 2rem;
}

#probs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}


a.links:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.market-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-family:'Courier New', Courier, monospace !important;
}

.innews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    /* background-color: #dee4dd; */
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.innews-container img {
    width: 350px;
    height: 350px;
}

.innews-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.dev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    column-gap: 15rem;
    padding-bottom: 3rem;
}

.abt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding-top: 7rem; */
    column-gap: 6rem;
    padding-bottom: 3rem;
    font-family:'Courier New', Courier, monospace !important;
}

.contact-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    /* padding-top: 7rem; */
    column-gap: 10rem;
    padding-bottom: 3rem;
}

.abt-container img {
    width: 350px;
    height: 280px;
}

.dev-container img {
    width: 350px;
    height: auto;
}

.dev-card img {
    padding-top: 3rem;
    width: 24rem;
    height: auto;
}

.dev-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.dev-card h2 {
    color: #960f59d0;
}

.redesign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    column-gap: 15rem;
    padding-bottom: 2rem;
}

.redesign-container img {
    width: 350px;
    height: 280px;
}

.redesign-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.redesign-card h2 {
    color: #0f4096de;
}

.iterative-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    column-gap: 15rem;
    padding-bottom: 3rem;
}

.iterative-container img {
    width: 350px;
    height: 280px;
}

.iterative-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.iterative-card h2 {
    color: #5e0f96d0;
}

.personas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    column-gap: 15rem;
    padding-bottom: 2rem;
}

.personas-container img {
    width: 350px;
    height: 280px;
}

.personas-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.personas-card h2 {
    color: #471e1ede;
}

.innews-card p {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

#bio {
    margin-left: 5rem;
    margin-right: 5rem;

}

#title-text h1 {
    padding: 3rem;
    text-align: left;
}

#title-text h3 {
    width: 30rem;
    text-align: left;
}

#overview {
    /* background-color: #dee4dd; */
    display: flex;
}

#preparation {
    /* background-color: #dee4dd; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

#observations {
    /* background-color: #dee4dd; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

#innews {
    /* background-color: #dee4dd; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 5rem;
}

#dev {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;

    /* background-color: #efcde09a; */
}

#abt {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace !important;
    /* background-color: #efcde09a; */
}


#responsive-redesign {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #a1b9dd9a; */
}

#personas-stoyboarding {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#iterative {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;

    /* background-color: #bea3d09a; */
}

#about-prod {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #efcde09a; */
}

#about-prod h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#about-api {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #efcde09a; */
}

#about-api h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#about-architecture {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #efcde09a; */
}

#about-architecture h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#about-conclusion {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #efcde09a; */
}

#about-conclusion h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#about-prod h4 {
    text-align: left;
    padding-left: 10rem;
    align-self: flex-start;
}

#redesign-probs {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    /* background-color: #a1b9dd9a; */
}

#redesign-probs h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-problems {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #a1b9dd9a;
}

#redesign-problems h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-wires {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #a1b9dd9a;
}

#redesign-wires h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-guide {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #a1b9dd9a;
}

#redesign-guide h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-protos {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #a1b9dd9a;
}

#redesign-protos h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-conclusion {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #a1b9dd9a;
}

#redesign-conclusion h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#redesign-probs h4 {
    text-align: left;
    padding-left: 10rem;
    align-self: flex-start;
}

#iterative-prod {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-prod h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-proto {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-proto h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-sketch {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-sketch h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-wires {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-wires h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-critique {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-critique h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-revised {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-revised h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-analysis {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-analysis h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-conclusion {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #bea3d09a;
}

#iterative-conclusion h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#iterative-prod h4 {
    text-align: left;
    padding-left: 10rem;
    align-self: flex-start;
}

#personas-probs {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-probs h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-sketch {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-sketch h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-obs {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-obs h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-personas {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-personas h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-story {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-story h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-conclusion {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #452a2a27;
}

#personas-conclusion h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#personas-probs h4 {
    text-align: left;
    padding-left: 10rem;
    align-self: flex-start;
}

#product {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}

#problem {
    padding-left: 10rem;
    padding-right: 10rem;
}

hr {
    width: 80%;
    color: black;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.wire-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.wire-container img {
    width: 350px;
    height: 290px;
}

#persona {
    height: 20rem;
}

#wireframe {
    height: 100%;
}

#storyboard {
    width: 40rem;
    height: 60rem;
}

#sketch {
    width: 250px;
    height: auto;
}

#modals {
    height: 10rem;
    width: 10rem;
}

.partner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row {
    display: flex;
    right: 0px;
}

.column {
    flex: 33.33%;
}

.question {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right: 1rem;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 7rem;
    height: 5rem;
}

.innews-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
}

.innews-card h3 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
}

.dev-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
    padding-bottom: 2rem;
}

.dev-card p {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    width: 650px;
    justify-content: left;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    right: 0px;
    /* padding-bottom: 2rem; */
}

.iterative-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
    padding-bottom: 2rem;
}

.personas-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
    padding-bottom: 2rem;
}


.redesign-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
    padding-bottom: 2rem;
}

/* h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.iconDetails {
    float: left;
    height: 15rem;
    width: 20rem;
    padding-right: 2rem;
}

.container2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container2 img {
    width: 20rem;
    margin-left: 10rem;
    margin-right: 5rem;
}

#arrow {
    width: 2rem;
    height: 2rem;
}

#arr {
    text-align: center;
}

.mkt {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-family:'Courier New', Courier, monospace !important;
}

.thenews {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.market-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
    font-family:'Courier New', Courier, monospace !important;
}

.innews-card h4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    right: 0px;
}

.card {
    width: 25rem;
}

/* ABOUT SECTION */

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    /* background-color: #dee4dd; */
    padding-top: 30px;
}

.about-card {
    width: 30rem;
    text-align: center;
}

.about-card h2 {
    padding-bottom: 2rem;
}

.about-card div {
    height: 25rem;
}

@media (max-width: 990px) {
    .md-stepper-horizontal {
        display: none;
    }
}

@media (max-width: 1200px) {
    .about-card {
        width: 20rem;
        height: 15rem;
    }

    .about-card div {
        height: 15rem;
    }

    #title h1 {
        text-align: center;
    }

    #title p {
        text-align: left;
    }

    #title-text h3 {
        width: 20rem;
        text-align: left;
    }

    .title h3 {
        text-align: left;
    }

    .innews-container img {
        width: 200px;
        height: 200px;
    }

}

@media (min-width: 1998px) {

    #probs {
        padding-top: 2rem;
    }

    .probs-card p {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        width: 900px;
    }

    .probs-card {
        height: 1050px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        background-color: rgba(250, 228, 183, 0.718);
        padding: 5rem;
        width: 1050px;
    }

    .card {
        width: 40rem;
    }

    /* .mkt {
        padding-top: 60px;
        padding-bottom: 2rem;
        font-size: 20rem;
    } */

    #title-text h1 {
        padding: 3rem;
        text-align: left;
        font-size: 10rem;
    }

    #title-text h3 {
        width: 100rem;
        text-align: left;
        font-size: 6rem;
    }

    #innews .about-card {
        width: 80rem;
        height: 80rem;
    }

    .about-card div {
        height: 80rem;
    }

    #title h1 {
        text-align: center;
        font-size: 20rem;
    }

    #hours h3 {
        font-size: 8rem;
        text-align: center;
    }

    #market {
        padding-top: 7rem;
        align-items: center;
        justify-content: center;
        font-family:'Courier New', Courier, monospace !important;
    }

    #market h2 {
        font-size: 8rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 10rem;
        font-family:'Courier New', Courier, monospace !important;
    }

    #market img {
        width: 40rem;
        height: 30rem;
    
    }

    .market-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8rem;
        font-family:'Courier New', Courier, monospace !important;
        /* width: 10rem; */
    }

    /* .card-img-top img {
        width: 50rem;
    } */

    /* .market-container img {
        width: 400rem;
        height: 200rem;
    } */

    #modals {
        height: 40rem;
        width: 40rem;
    }

    #news {
        padding-top: 7rem;
    }

    #news h2 {
        font-size: 10rem;
        text-align: center;
    }

    #news h3 {
        font-size: 8rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        text-align: center;
    }

    #news h4 {
        font-size: 6rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        text-align: center;
    }

    .innews-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem;
        /* background-color: #dee4dd; */
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #sloth {
        height: 45rem;
        width: 45rem;
    }

    #aboutme h1 {
        font-size: 10rem;
    }

    .innews-container img {
        width: 80rem;
        height: 50rem;
    }

    .innews-card {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    #bio {
        font-size: 4rem;
        padding-left: 20rem;
        padding-right: 20rem;
    }

    #arrtitle {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        width: 80rem;
        text-align: center;
    }

    #arr {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        width: 80rem;
        text-align: center;
    }

    #about {
        font-size: 10rem;
    }

    #foot p {
        font-size: 6rem;
    }

    #arrow {
        width: 6rem;
        height: 6rem;
    }

    #logo {
        width: 15rem;
        height: 10rem;
    }

    #logo2 {
        width: 10rem;
        height: 10rem;
    }

    .about-card div {
        height: 60rem;
    }

    .about-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30rem;
        /* background-color: #dee4dd; */
        padding-top: 10rem;
    }


    .banner {
        width: 100%;
        height: 1500px;
        position: relative;
        object-fit: cover;
    }

    .navbar {
        min-height: 300px;
        font-family:'Courier New', Courier, monospace !important;
    }


    #left-nav {
        font-size: 40px;
        font-family:'Courier New', Courier, monospace !important;
    }

    .nav-item {
        font-size: 40px;
        font-family:'Courier New', Courier, monospace !important;
    }

    #innews {
        padding-top: 20rem;
    }

    .navbar-expand-md .navbar-nav {
        /* padding: 20rem; */
    }

    .logo {
        padding-left: 1rem;
        width: 40rem;
        height: 20rem;
    }

    .navbar-nav {
        font-size: 6rem;
        font-family:'Courier New', Courier, monospace !important;
    }
}

#foot {
    padding-top: 50px;
}